*.iml
.gradle
gradle.properties
/local.properties
/.idea/*
.DS_Store
/build
/captures
openCVLibrary310/build
openCVTemplate/build
openCVTemplate/src/main/jniLibs
openCVTemplate/src/main/libs
openCVTemplate/src/main/obj
