*.iml
.gradle
gradle.properties
/local.properties
/.idea/*
.DS_Store
/build
/captures
openCVLibrary310/build
openCVSamplefacedetection/build
openCVSamplefacedetection/src/main/jniLibs
openCVSamplefacedetection/src/main/libs
openCVSamplefacedetection/src/main/obj
